---
import { Image } from "astro:assets";
import type { StuffType } from "../../content/config";
import Navbar from "../../components/Navbar.astro";
import Layout from "../../layouts/Layout.astro";
import { getEntry } from "astro:content";
import StuffShow from "../../components/StuffShow";
const stuffs = await getEntry("stuffsIKnow", "stuffs");
---

<Layout title="Stuff I Know">
  <Navbar isDark={true} />
  <section class="text-white bg-black">
    <section class="max-w-7xl p-2 columns-2 md:columns-6 space-4 mx-auto">
      {
        stuffs.data.map((stuff, i) => {
          return (
            <StuffShow client:load idx={i} stuff={stuff.type}>
              <Image
                alt={stuff.imgDes}
                width={300}
                height={300}
                class={`object-center object-contain rounded-lg`}
                src={stuff.logo}
              />
            </StuffShow>
          );
        })
      }
    </section>
  </section>
</Layout>

<style>
  body {
    background-color: black;
  }
</style>
